<style>
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
</style>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Pacifico&display=swap');
</style>



body{
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

header {
    font-family: 'Pacifico' , 'cursive';
    font-size: 180%;
}
 

    
#wrap {
    margin: 0 auto;
    width: 70%;
    background-color: white; 
}


section{
    overflow: auto; /* bring floating elements back in order, remeber this for next project. Parent element*/
    
    
}

h1 {
    font-family: sans-serif;
    font-size: 180%;
    color: navy;
}

h2 {
    font-family: sans-serif;
    font-size: 180%;
    color: cornflowerblue;
}

h3 {
    font-family: sans-serif;
    font-size: 180%;
    color: mediumpurple;
}

h4 {
    font-family: sans-serif;
    font-size: 180%;
    color: magenta;
}


figure{
    background-color: black;
    padding: 10px; 
    margin: 2.5px;
    width: 25%;
    float:left;
    border: Green;
}